<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="true" />
  <rosparam command="load" file="$(find std_detector)/config/config_mid360.yaml" />
  <node 
		pkg="std_detector" 
		type="place_recognition_mid360" 
		name="place_recognition_mid360" 
		output="screen" 
	/>
  <param name="dir_path" type="string" value = "/media/jin/MyPassport/NTU_HELMET/20230823-1524/2023-08-23-15-24-12/frameClouds/"/>
  <param name="bag_path" type="string" value = "/home/jin/ntu/std_ws/src/STD/data/park1.bag"/>
  <param name="pose_path" type="string" value = "/home/jin/ntu/std_ws/src/STD/data/park1_pose.txt"/>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find std_detector)/rviz_cfg/demo.rviz" />
  </group>

</launch>